<div fxLayout="row space-around" fxLayoutAlign="space-around">
  <mat-form-field>
    <mat-label>Movie Genre</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="genreSwap( $event )">
      <mat-option *ngFor="let genre of genres$ | async" [value]="genre.id">
        {{ genre.name | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Movie 🙂" type="text" [(ngModel)]="searchString" (ngModelChange)="searchMovie( $event )" name="search">
  </mat-form-field>
</div>

<app-movie-card [moviesFiltered$]="moviesFiltered$"></app-movie-card>
