<div fxLayout="row space-around" fxLayoutAlign="space-around">
  <mat-form-field>
    <mat-label>Movie Genre</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="genreSwap( $event )">
      <mat-option *ngFor="let genre of genres$ | async" [value]="genre.id">
        {{ genre.name | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Movie 🙂" type="text" [(ngModel)]="searchString" (ngModelChange)="searchMovie( $event )" name="search">
  </mat-form-field>
</div>

<ng-template [ngIf]="moviesFiltered$" [ngIfElse]="loading">
  <div class="container">
    <div fxLayout="row" *ngFor="let movie of moviesFiltered$ | async">
      <img [src]="urlImages + movie?.poster_path" width="150" height="150" (click)="openDialog( movie )" >
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <h1> Noobs </h1>
</ng-template>
