<div class="container" fxLayout="row wrap" fxLayoutGap="20px">
  <img [src]="urlImages + ( movie$ | async )?.poster_path" width="240" height="350">
  <div fxLayout="column" *ngIf="movie$ | async as movie;">
    <div >
      <b>{{ movie.release_date }}</b>
    </div>
    <div>
      <b>Revenue: </b>
      <ng-template [ngIf]="movie.revenue != 0" [ngIfElse]="loading">
        <span>{{ movie.revenue | number:'4.' }}</span>
      </ng-template>
      <ng-template #loading>
        <span>Unknown</span>
      </ng-template>

    </div>
    <div>
      <b>Keywords: </b>
      <span *ngFor="let keyword of ( movieKeywords$ | async )?.keywords; let index = index;">
        <span *ngIf="index < 5"> {{ keyword.name | uppercase }} </span>
      </span>
    </div>
  </div>
</div>
<div>
  <h2>Similar Movies: </h2>
  <app-movie-card [moviesFiltered$]="similarMovies$"></app-movie-card>
</div>
