div {
  margin-top: 1em;
}

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;

  .title{
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    position: relative;
  }
}

img{
  padding: 10px;
}